<!DOCTYPE html>
<html>
    <head>
        <title>Knossos Converter</title>
        <meta charset="utf8">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <style type="text/css">
            .fa-check {
                color: rgb(0, 160, 0);
            }

            .fa-times {
                color: rgb(160, 0, 0);
            }
        </style>
        <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
        <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="container">
            <h1>Knossos Converter</h1>

            <div id="info">
                <textarea id="data" class="form-control"></textarea>
                <br>
                <button id="sub" class="btn btn-primary" disabled>Connecting...</button>
            </div>

            <div id="detail" class="hide">
                <div id="det-display">Please wait...</div>
                <br>
                <button id="det-continue" class="btn hide">Continue</button>
            </div>

            <div id="result" class="hide">
                <pre id="result_pre"></pre>

                <button id="res-back" class="btn btn-primary">Back</button>
            </div>
        </div>

        <script type="text/javascript" src="{{ url_for('static', filename='converter.js') }}"></script>
        <script type="text/javascript">
            var ws, ticket;

            function do_convert(e) {
                e.preventDefault();

                $('#info').hide();
                $('#detail').show();

                $.ajax({
                    type: 'POST',
                    url: '/api/converter/request',
                    dataType: 'json',
                    data: {
                        passwd: '<secret>',
                        data: $('#data').val()
                    },

                    success: function (res) {
                        if(res.error) {
                            alert("You submitted invalid data! Please try again.");
                            return;
                        }
                        
                        ticket = res;
                        show_progress();
                    }
                });
            }

            function show_progress() {
                var url = location.href.replace(/^https?:\/\/([^\/]+)\/.*$/, 'ws://$1/').replace(':8080', ':8085');
                ws = new Converter(url + 'ws/converter', ticket.ticket);
                ws.on('done', function (success) {
                    if(success) {
                        alert('Done!');
                        $('#det-continue').addClass('btn-success');
                    } else {
                        alert('Failed!');
                        $('#det-continue').addClass('btn-danger');
                    }

                    $('#det-continue').show();

                    $.ajax({
                        type: 'POST',
                        url: '/api/converter/retrieve',
                        dataType: 'json',
                        data: {
                            ticket: ticket.ticket,
                            token: ticket.token
                        },

                        success: function (res) {
                            $('#result_pre').text(JSON.stringify(res));
                        }
                    });
                });
                ws.bootstrap_ui($('#det-display'));
                ws.connect();
            }

            $(function () {
                $('#sub').html('Convert!').prop('disabled', false).click(do_convert);
                $('#data').height($(window).height() - $('#data').offset().top - 100);

                $('#det-continue').click(function (e) {
                    e.preventDefault();
                    $('#detail').hide();
                    $('#result').show();
                });
                $('#res-back').click(function (e) {
                    e.preventDefault();
                    $('#detail').show();
                    $('#result').hide();
                });

                $('.hide').hide().removeClass('hide');
            });
        </script>
    </body>
</html>